<div class="empty-state" style="padding: 6rem 2rem;">
  <div class="empty-icon"><i class="fa fa-exclamation-triangle"></i></div>
  <h3 class="mb-3"><%= message %></h3>
  <a href="/" class="btn btn-search">返回首页</a>
</div>
